# Headers
[[headers]]
  for = "/*"
  [headers.values]
    Content-Security-Policy = "default-src 'none'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; frame-ancestors 'self' jf-iframe-web-component.netlify.app lexicon-iframe.netlify.app;"

# Headers for your specific CSS file (CORS)
[[headers]]
  for = "/style.css" 
  [headers.values]
    Access-Control-Allow-Origin = "*"

[[headers]]
  for = "/assets/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"