.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.3rem;
  padding-inline: 1rem;
  padding-bottom: 1.5rem;
  border-radius: 5px;
}

.visually-hidden {
  display: none;
}

.half-width {
  width: 50%;
}

.card-security-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

input {
  height: 2.5rem;
  border-width: 0.5px;
  border-radius: 2px;
  width: 100%;
}

input.error {
  border-color: red;
  border-width: 1px;
}

button {
  height: 2rem;
  width: 8rem;
  background-color: lightsalmon;
  border: 0px;
}
